.list {
  display: flex;
  gap: 30px;
  margin-bottom: 16px;
  list-style: none;
  text-decoration: underline;
}
.content {
  display: flex;
  gap: 10px;
}
.add {
  border-top: 2px solid white;
}
img {
  height: 100%;
  max-height: 300px;
}
li.actors {
  list-style: none;
}
